{
  "plugins": [
    ["import", { "libraryName": "antd", "style": true, "libraryDirectory": "es" }]
  ],
  "presets": [
    "react-hot-loader/babel",
    ["@babel/env", { "modules": false }],
    "@babel/react",
    "@babel/preset-typescript"
  ]
}